{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<section class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
  </ol>
</nav>

	{% if username %}
	You are logged in: <strong>{{ username }}</strong>
	{% endif %}
	
    <h1>HOME PAGE</h1> 
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<a href="{{ path('login') }}" class="btn btn-primary">Sign In</a>
		</div>
		<div class="col-md-6 col-sm-12">
			<a href="{{ path('register') }}" class="btn btn-secondary">Create An Account</a>
		</div>
	</div>
	
	<h1>README</h1>
	
	<h2>REST</h2>
	<br />

	<h5>Authorization Type: Basic Auth</h5>
	
	Username: <em>admin</em><br />
	Password: <em>Apipass2019</em>	
	<p></p>
	
	<p><strong>METHODS:</strong></p>

	<strong>POST</strong> - /api/v1/user
	<hr />
	<ul>
	<li>form-data [key: <em>user</em>]</li>
	<li>Example Value:
	<pre>
{
    "message": "The user was created.",
    "user": {
        "username": "john",
        "password": "Mnemonic2019!",
        "email": "j.mnemonic@example.com",
        "firstname": "Johnny",
        "lastname": "Mnemonic",
        "status": true
    }
}	</pre>
	</li>
	</ul>
	<br />
	
	<strong>GET</strong> - /api/v1/user/{id}
	<hr />
	<ul>
	<li>Example Value:
	<pre>{
    "id": 1,
    "username": "dachu",
    "password": "d227eb025c30dfcbada1b168fdad5b2f143ee4cb",
    "email": "g.dachowski@gmail.com",
    "firstname": "Grzegorz",
    "lastname": "Dachowski",
    "status": true,
    "createdAt": "2019-01-25T18:30:38+01:00",
    "updatedAt": "-0001-11-30T00:00:00+01:00"
}</pre>
	</li>
	</ul>
	<br />

	<strong>PUT</strong> - /api/v1/user/{id}
	<hr />
	<ul>
	<li>body [raw]</li>
	<li>Example Value:
	<pre>{
    "username": "alias",
    "password": "hasłohasło",
    "email": "g.ggooo7oo@gmail.com",
    "firstname": "John",
    "lastname": "Doe",
    "status": true
}</pre>
	</li>
	</ul>
	<br />

	<strong>DELETE</strong> - /api/v1/user/{id}
	<hr />
	<ul>
	<li>Example Value:
	<pre>{
    "message": "The user was deleted."
}</pre>
	</li>
	</ul>
	<br />	
	
</section>

{% endblock %}