{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<section class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
  </ol>
</nav>

	{% if username %}
	You are logged in: <strong>{{ username }}</strong>
	{% endif %}
	
    <h1>HOME PAGE</h1> 
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<a href="{{ path('login') }}" class="btn btn-primary">Sign In</a>
		</div>
		<div class="col-md-6 col-sm-12">
			<a href="{{ path('register') }}" class="btn btn-secondary">Create An Account</a>
		</div>
	</div>
</section>

{% endblock %}